@use 'footer';
@use 'gnome_brand';
@use 'colors';

:root {
    color-scheme: light dark;

    --text-color: var(--quiteblack);

    --icon-shadow:
        drop-shadow(0 1px 12px rgba(0, 0, 0, 0.05)) drop-shadow(0 -1px rgba(0, 0, 0, 0.05)) drop-shadow(1px 0 rgba(0, 0, 0, 0.1)) drop-shadow(0 1px rgba(0, 0, 0, 0.3)) drop-shadow(-1px 0 rgba(0, 0, 0, 0.1));

    --background-color: var(--light2);

    --link-color: var(--blue4);
    --link-hover-color: var(--blue5);
    --card-hover-background: var(--light2);
    --box-background: var(--light1);
    --box-hover-background: var(--light3);

    --section-background: rgba(0, 0, 0, .02);

    --splash-text: rgba(255, 255, 255, 0.7);
    --splash-color1: var(--green4);
    --splash-color2: var(--blue4);
    --splash-color3: var(--green5);

    --warning-color: #fff191;

    --mock-window-1: var(--light2);
    --mock-window-2: var(--background-color);
    --mock-window-border: var(--light3);
    --mock-control: #e6e6e6;
    --mock-headerbar: rgba(0, 0, 0, 2%);
    --mock-label: var(--dark1);

    --content-width: 1400px;
    --footer-width: 900px;

    @media (prefers-color-scheme: dark) {
        --text-color: var(--light3);
        --background-color: #2d283c;

        --link-color: var(--blue1);
        --link-hover-color: var(--blue2);
        --card-hover-background: var(--dark4);
        --box-background: var(--dark4);
        --box-hover-background: var(--dark3);

        --section-background: rgba(0, 0, 0, .05);

        /*--splash-text: var(--light2);*/
        --splash-color1: #218c5b;
        --splash-color2: #144a8c;
        --splash-color3: #216446;

        --warning-color: #72540b;

        --mock-window-1: #3a3542;
        --mock-window-border: var(--dark3);
        --mock-control: #504e54;
        --mock-headerbar: rgba(255, 255, 255, 3%);
        --mock-label: var(--light4);
    }
}

body {
    margin: 0;
    background: var(--background-color);
    color: var(--text-color);
}

header {
    color: var(--splash-text);
    background: linear-gradient(90deg, #3584e4 0%, #9141ac 33%, #e01b24 66%, #ff7800 100%);
    padding-bottom: 50px;

    nav {
        display: flex;
        padding-top: 15;

        ul {
            list-style: none;
            display: inline-flex;
            padding: 0;
            margin: 0;
            column-gap: 10px;

            a,
            a:visited {
                color: var(--splash-text);
            }
        }
    }

    h1 {
        font-size: 48pt;
        font-weight: 600;
        word-wrap: break-word;
        margin-bottom: .25em;
    }

    section>div {
        max-width: 1000px;
    }
}

section>div {
    max-width: var(--content-width);
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
}

a,
a:visited {
    color: var(--link-color);
    text-decoration: none;

    &:active {
        position: relative;
        top: 1px;
        left: 1px;
    }

    &:hover {
        color: var(--link-hover-color);
    }
}

.cards {
    columns: 320px auto;
    column-gap: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

.card {
    padding: 2em;
    margin: 0 0.5em 1em;
    display: block;
    break-inside: avoid-column;
    border-radius: 9px;
    background-color: var(--box-background);

    .avatar {
        border-radius: 60px;
        height: 110px;
        display: block;
        margin: auto;
        background-color: var(--box-hover-background);
    }

    .name {
        font-size: 1.3em;
        margin: 1rem 0 1.3rem;
        text-align: center;

        a {
            opacity: 0.8;

            &:hover {
                opacity: 0.5;
            }

            img {

                margin-inline-end: 6px;
                height: 20px;

                @media (prefers-color-scheme: dark) {
                    filter: invert(1);
                }
            }
        }
    }

    .pronouns {
        font-size: 0.9rem;
        font-weight: normal;
        opacity: 0.8;
        text-align: center;
    }

    h4 {
        font-size: 1em;
        margin: 1em 0 0.4em;
    }

    ul {
        font-size: 0.9em;
        padding: 0;
        margin: 8px 0 0;
        margin-inline-start: 9px;

        li {
            display: flex;
            align-items: center;
            padding: 3px 0;
            margin: 0;

            img {
                opacity: 0.8;
                margin-inline-end: 6px;
                height: 20px;

                @media (prefers-color-scheme: dark) {
                    filter: invert(1);
                }
            }

            a,
            span {
                min-height: 20px;
                overflow-wrap: anywhere;
            }
        }
    }
}