<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width,initial-scale=1" name="viewport"/>
  <link rel="stylesheet" href="{{ site.assets_url }}/style/main.css"/>
  <title>{{ "People of GNOME"|t }} – {% block title %}{% endblock %}</title>
  {% block html_head %}{% endblock html_head %}
</head>
<body lang="{{ site.document_language }}">
<header>
{% block navigation %}
  <section class="teaser">
    <div>
      <nav class="top">
        <ul class="begin">
          <li><a href="{{ site.base_url }}/">{{ "People of GNOME"|t }}</a></li>
        </ul>
      </nav>
    </div>
  </section>
  {% endblock navigation %}
  <section>
{% block splash %}{% endblock splash %}
</section>
</header>
{% block content %}{% endblock content %}
<footer>
  <section class="footer-width links">
    <div style="flex-basis: 160px;">
      <a title="GNOME Homepage" href="https://www.gnome.org"><img src="{{ site.assets_url }}/logo/gnome.svg" style="width: 130px" alt="" /></a>
      <ul>
        <li><a href="https://foundation.gnome.org/contact-us/">{{ "Contact"|t }}</a></li>
        <li><a href="https://www.gnome.org/privacy-policy/">{{ "Privacy Policy"|t }}</a></li>
      </ul>
      <p class="copyright">{{ "© 2024–{} The “Welcome to GNOME” contributors"|f(["2024"]) }}</p>
    </div>
    <div>
      <h3>{{ "News"|t }}</h3>
      <ul>
        <li><a href="https://thisweek.gnome.org">{{ "This Week in GNOME"|t }}</a></li>
        <li><a href="https://planet.gnome.org">{{ "Planet GNOME"|t }}</a></li>
        <li><a href="https://foundation.gnome.org/news/">{{ "Foundation News"|t }}</a></li>
        <li><a href="https://release.gnome.org">{{ "Latest Release"|t }}</a></li>
      </ul>
    </div>
    <div>
      <h3>{{ "Engage"|t }}</h3>
      <ul>
        <li><a href="https://welcome.gnome.org">{{ "Welcome to GNOME"|t }}</a></li>
        <li><a href="https://conduct.gnome.org">{{ "Code of Conduct"|t }}</a></li>
        <li><a href="https://gitlab.gnome.org">{{ "Issue Tracker"|t }}</a></li>
        <li><a href="https://discourse.gnome.org">{{ "Forum"|t }}</a></li>
        <li><a href="https://shop.gnome.org">{{ "Merch"|t }}</a></li>
      </ul>
    </div>
    <div>
      <h3>{{ "Resources"|t }}</h3>
      <ul>
        <li><a href="https://apps.gnome.org">{{ "Apps for GNOME"|t }}</a></li>
        <li><a href="https://developer.gnome.org">{{ "Developer Center"|t }}</a></li>
        <li><a href="https://handbook.gnome.org">{{ "GNOME Handbook"|t }}</a></li>
        <li><a href="https://circle.gnome.org">{{ "GNOME Circle"|t }}</a></li>
        <li><a href="https://foundation.gnome.org">{{ "GNOME Foundation"|t }}</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a title="{{ "Mastodon Account"|t }}" href="https://floss.social/@gnome"><img src="{{ site.assets_url }}/logo/mastodon.svg" alt="" class="icon" /></a></li>
        <li><a title="{{ "Matrix Community"|t }}" href="https://matrix.to/#/#community:gnome.org"><img src="{{ site.assets_url }}/logo/matrix.svg" alt="" class="icon" /></a></li>
        <li><a title="{{ "Facebook"|t }}" href="https://www.facebook.com/GNOME/"><img src="{{ site.assets_url }}/logo/facebook.svg" alt="" class="icon" /></a></li>
        <li><a title="{{ "YouTube Channel"|t }}" href="https://www.youtube.com/@GNOMEDesktop"><img src="{{ site.assets_url }}/logo/youtube.svg" alt="" class="icon" /></a></li>
      </ul>
    </div>
  </section>
  <p class="content-width generated">{{ "Page generated {0}"|t|f([site.now_localized.as_str()]) }}</p>
</footer>
<dialog id="language-selector">
  <header>
    <h3>{{ "Select Language"|t }}</h3>
    <form method="dialog">
      <button class="close" title="{{ "Close Language Selection"|t }}"></button>
    </form>
  </header>
  <ul id="language-list"></ul>
</dialog>
</body>
</html>
