{% extends "_base.html" %}
{% import "_macros.html" as macro %}

{% block title %}{{ "Overview"|t }}{% endblock %}

{% block splash %}
<section>
<div>
  <h1>People of GNOME</h1>
  <p>These are the people that make GNOME possible.
</p>
</div>
</section>
{% endblock splash %}

{% block footer %}
  {% call macro::footer_edit_page("index.md") %}
{% endblock footer %}

{% block content %}

<section>

<div class="cards">
{% for (id, person) in people.people %}
  <div class="card" id="{{ id }}">
  {%- match person.avatar_url -%}
    {%- when Some with (avatar) -%}
    <img class="avatar" alt="" src="{{ avatar }}" alt="" />
    {%- when None -%}
  {%- endmatch -%}

  <h3 class="name">
    <a href="#{{ id }}"><img src="{{ site.assets_url }}/anchor.svg" alt="" /></a>
    {%- match person.name -%}
      {%- when Some with (name) -%}
        {{ name }}
      {%- when None -%}
        {{ id }}
    {%- endmatch -%}

    {%- match person.pronouns -%}
      {%- when Some with (pronouns) -%}
        <div class="pronouns">{{ pronouns }}</div>
      {%- when None -%}
    {%- endmatch -%}
  </h3>

  <ul>
    {% if person.location|is_not_empty %}
      <li>
        <img src="{{ site.assets_url }}/location.svg" alt="" role="presentation" />
        <span>{{ person.location|option_to_string }}</span>
      </li>
    {% endif %}
    {% for git_account in person.git_accounts %}
      <li>
      {% set link_title = "" %}
      {% if git_account.url.contains("github.com/") %}
          <img src="{{ site.assets_url }}/github.svg" alt="" role="presentation" />
          {% set link_title = "GitHub account"|t %}
      {% else %}
          <img src="{{ site.assets_url }}/gitlab.svg" alt="" role="presentation" />
        {% set link_title = "GitLab account"|t %}
      {% endif %}
          <a dir="auto" href="{{ git_account.url }}" title="{{ link_title }}">@{{ git_account.username }}</a>
      </li>
    {% endfor %}
    {% for social in person.social_accounts %}
      <li>
          <img src="{{ site.assets_url }}/social-{{social.provider}}.svg" alt="" role="presentation" />
          <a dir="auto" href="{{ social.url }}" title="{{ "{} account"|tc("The {} will be replaced with a social media name like 'Mastodon'")|f([social.provider.as_str()]) }}">
            {{ social.display }}
          </a>
      </li>
    {% endfor %}
    {% for website in person.websites %}
      <li>
        <img src="{{ site.assets_url }}/website.svg" alt="" role="presentation" />
        <a dir="auto" href="{{ website }}">{{ "Website"|t }}</a>
      </li>
    {% endfor %}
  </ul>

  {% if !person.apps.is_empty() %}
  <h4>Maintained Apps</h4>
  <ul>
  {% for app_id in person.apps %}
    {%- match apps.get(app_id.deref()) -%}
      {%- when Some with (app) -%}
        <li>
          <img src="https://apps.gnome.org/icons/32/{{ app_id }}-light.png" />
          <a href="https://apps.gnome.org/{{ app.page_id }}">{{ app.name }}</a>
        </li>
      {%- when None -%}
    {%- endmatch -%}
  {% endfor %}
  </ul>
  {% endif %}

  {% if !person.components.is_empty() %}
  <h4>Maintained Components</h4>
  <ul>
  {% for module in person.components %}
    <li>
      <a href="https://developer.gnome.org/components/#{{ module }}">{{ module }}</a>
    </li>
  {% endfor %}
  </ul>
  {% endif %}

    {% if !person.teams.is_empty() %}
  <h4>Teams</h4>
  <ul>
  {% for team in person.teams %}
    <li>
      {{ team }}
    </li>
  {% endfor %}
  </ul>
  {% endif %}

  </div>
{% endfor %}
</div>

</section>

{% endblock content %}